@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.woff2") format("woff2");
  font-display: swap;
}

.gradient-background {
  background: rgb(17, 27, 1);
  background: radial-gradient(
    circle,
    rgba(17, 27, 1, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

body::selection {
  background-color: var(--color-strong-green);
  color: black;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-strong-green: #9ad342;
  --color-platinium: #dee5e5;

  --breakpoint-*: initial;
  --breakpoint-mobile-s: 320px;
  --breakpoint-mobile-m: 375px;
  --breakpoint-mobile-l: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-l: 1440px;
}

/* * {
  outline: 1px solid red;
} */
