@import "tailwindcss";

@font-face {
  font-family: "Clash-Grotesk";
  src: url("./fonts/ClashGrotesk-Variable.woff2") format("woff2");
  font-display: swap;
}

.gradient-background {
  background: rgb(17, 27, 1);
  background: radial-gradient(
    circle,
    rgba(17, 27, 1, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Pagination Dots */
.custom-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-platinium);
  border-radius: 50%;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: var(--color-strong-green);
  transform: scale(1.2);
  opacity: 1;
}

/* Navigation Buttons */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: var(--color-platinium);
  font-size: 24px;
  transition: all 0.3s ease;
}

.custom-swiper .swiper-button-next:hover,
.custom-swiper .swiper-button-prev:hover {
  color: var(--color-strong-green);
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
  font-size: 28px;
  font-weight: bold;
}

body::selection {
  background-color: var(--color-strong-green);
  color: black;
}

@theme {
  --font-clash-grotesk: "Clash-Grotesk";
  --color-strong-green: #9ad342;
  --color-platinium: #dee5e5;

  --breakpoint-*: initial;
  --breakpoint-mobile-s: 320px;
  --breakpoint-mobile-m: 375px;
  --breakpoint-mobile-l: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-l: 1440px;
  --breakpoint-laptop-4k: 2560px;
}
